main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-height: 60vh;
}

form label,
input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
form input {
    width: 80vh;
    text-align: left;
}

.form__alert {
    color: red;
    text-decoration: underline;
}

.form__register,
.form__login {
    max-width: 400px;
}
